# python cache
**/__pycache__/
**/.pytest_cache/

# Docker environments
.docker/.env
.docker/*.env

# vscode workspace
*.code-workspace

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

# Ignore temp files
temp*.txt
temp/

# Logs
logs/
*.log

*.pyc
*.pyo
**/*.egg-info/
**/dist/
**/build/

# Ignore Airflow files
**/airflow